<!-- Footer -->
<section id="footer">
  <div class="inner">
    <div class="row">
    <h2 class="major">Get Involved</h2>
    <p>Is your company interested in testing or deploying connected and autonomous vehicle technology in Sacramento?</p>
    <ul class="actions fit">
      <li>
        <a class="button special fit large" href="https://sacav.org/" target="_blank">Apply to Join ATOS</a>
      </li>
    </ul>
    <!-- <form method="post" action="#">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form> -->
    <ul class="contact">
      <li class="fa-building">
        Sacramento City Hall, Office of the Mayor<br />
        915 I Street, 5th Floor<br />
        Sacramento, CA 95814
      </li>
      <li class="fa-phone">(916) 808-7751</li>
      <li class="fa-envelope"><a href="mailto:atos@innovatesac.org">atos@innovatesac.org</a></li>
      <li class="fa-github"><a href="https://github.com/sacatos">github.com/sacatos</a></li>
      <!-- <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
      <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
      <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
    </ul>
    <ul class="copyright">
      <li>&copy; 2017 Autonomous Transportation Open Standards Lab. Published as open source software under the MIT License.</a></li>
    </ul>
  </div>
</section>
