<!-- Footer -->
  <section id="footer">
    <div class="inner">
      <div class="row">
      <h2 class="major">Get Involved</h2>
      <p>Is your company interested in testing or deploying connected and autonomous vehicle technology in Sacramento?</p>
      <ul class="actions fit">
        <li>
          <a class="button special fit large" href="https://sacav.org/" target="_blank">Apply to Join ATOS</a>
        </li>
      </ul>
      <!-- <form method="post" action="#">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="4"></textarea>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" /></li>
        </ul>
      </form> -->
      <ul class="contact">
        <li class="fa-building">
          Sacramento City Hall, Office of the Mayor<br />
          915 I Street, 5th Floor<br />
          Sacramento, CA 95814
        </li>
        <li class="fa-phone">(916) 808-7751</li>
        <li class="fa-envelope"><a href="mailto:atos@innovatesac.org">atos@innovatesac.org</a></li>
        <li class="fa-github"><a href="https://github.com/sacatos">github.com/sacatos</a></li>
        <!-- <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
        <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
        <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
      </ul>
      <ul class="copyright">
        <li>&copy; 2017 Autonomous Transportation Open Standards Lab. Published as open source software under the MIT License.</a></li>
      </ul>
    </div>
  </section>

</div>

<!-- Scripts -->
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97991361-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
