<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  {% seo %}
</head>
<body>

  <!-- Page Wrapper -->
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header" class="alt">
          <h1><a href="/">Sacramento Autonomous Vehicles</a></h1>
          <nav>
            <a href="#menu">Menu</a>
          </nav>
        </header>

      <!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>ATOS Labs</h2>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/collaborations">Collaborations</a></li>
              <li><a href="/routes">Proposed Routes</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/membership">ATOS Labs Membership</a></li>
              <li><a href="/apply">Become a Member</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>
