<!-- One -->
  <section id="one" class="wrapper spotlight style1">
    <div class="inner">
      <div class="image"><img src="https://images.unsplash.com/photo-1483239546567-ccc4ce2b344a?dpr=2&auto=format&fit=crop&w=500&h=500&q=80&cs=tinysrgb&crop=&bg=" alt="" /></div>
      <div class="content">
        <h2 class="major">Sacramento is the testing ground to bring smart city technologies to market that will change the world</h2>
        <p> The city is the epicenter of an emerging innovation ecosystem with change agents working to develop breakthrough solutions that will accelerate quality of life improvements. With the leadership of Mayor Darrell Steinberg, Congresswoman Doris Matsui, State Senator Richard Pan, and Sacramento Kings Owner and Chairman Vivek Ranadivé, Sacramento is becoming the country’s next real-world testbed for urban innovation.</p>
        <!-- <a href="#" class="special">Learn more</a> -->
      </div>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
      <div class="image"><img src="https://images.unsplash.com/photo-1484912695906-c0c29e914a1d?dpr=2&auto=format&fit=crop&w=500&h=500&q=80&cs=tinysrgb&crop=&bg=" alt="" /></div>
      <div class="content">
        <h2 class="major">ATOS will accelerate mass market deployment and adoption of connected and autonomous vehicle technology by:</h2>
        <ul>
          <li>Deploying the state’s first 5G network that will power vehicle-to-vehicle (V2V), vehicle-to-infrastructure (V2I), and vehicle-to-pedestrian (V2X) communications.</li>
          <li>Leveraging proximity to regulators and shortening the feedback loop between policy and practice—enabling a smarter, faster regulatory approach.</li>
          <li>Co-developing an open source playbook to help other cities optimize their collaboration with public agencies and industry partners—allowing the “Sacramento Protocol” to replicate and scale.</li>
        </ul>
        <!-- <a href="#" class="special">Learn more</a> -->
      </div>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper spotlight style3">
    <div class="inner">
      <div class="image">
        <img src="https://images.unsplash.com/photo-1469248620856-e8c981d98aff?dpr=2&auto=format&fit=crop&w=500&h=500&q=80&cs=tinysrgb&crop=&bg=" alt="" />
      </div>
      <div class="content">
        <h2 class="major">Sacramento leaders have joined together with our private sector partners to create the Autonomous Transportation Open Standards Lab (ATOS)</h2>
        <p>ATOS is a public-private consortium of government agencies and connected and autonomous vehicle technology companies working in partnership to co-develop interoperable protocols and standards. This work will soon enable Sacramento to become a leading proving ground for the safe testing and demonstration of these vehicles.</p>
        <!-- <a href="#" class="special">Learn more</a> -->
      </div>
    </div>
  </section>

<!-- Four -->
  <!-- <section id="four" class="wrapper alt style1">
    <div class="inner">
      <h2 class="major">Vitae phasellus</h2>
      <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
      <section class="features">
        <article>
          <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
          <h3 class="major">Sed feugiat lorem</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
          <a href="#" class="special">Learn more</a>
        </article>
        <article>
          <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
          <h3 class="major">Nisl placerat</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
          <a href="#" class="special">Learn more</a>
        </article>
        <article>
          <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
          <h3 class="major">Ante fermentum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
          <a href="#" class="special">Learn more</a>
        </article>
        <article>
          <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
          <h3 class="major">Fusce consequat</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
          <a href="#" class="special">Learn more</a>
        </article>
      </section>
      <ul class="actions">
        <li><a href="#" class="button">Browse All</a></li>
      </ul>
    </div>
  </section> -->
